:root {
	--color-primary: #00A54A;
}

* {
	font-family: "poppins", sans-serif;
}

p {
	font-weight: normal;
	line-height: 1.7em;
}

a {
	display: flex;
	font-weight: normal;
	color: #000;
}

a svg {
	margin-left: 10px;
}

hr {
	border-color: #000;
	border-width: 1px 0 0;
	margin: 0;
}

.d-container-wrapper {
	padding: 80px 30px;
}

.d-container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

/* Intro section  */

.intro {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-column-gap: 80px;
}

.intro .left {
	padding: 40px 0;
}

.intro .heading {
	font-weight: 900;
	font-size: 5em;
	margin: 0 0 40px;
}

.intro .subheading {
	font-size: 1.2em;
	max-width: 400px;
	margin: 0 0 40px;
}

.intro a {
	font-size: 1.2em;
}

.intro img {
	display: flex;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    object-fit: cover;
}

/* What We Do section */

.wwd {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 80px;
}

.wwd .right {
	margin: auto;
}

.wwd .heading {
	font-weight: 900;
	font-size: 2.5em;
	margin: 0 0 40px;
}

.wwd .subheading {
	font-size: 1.2em;
	max-width: 400px;
	margin: 0 0 40px;
	color: var(--color-primary);
}

.wwd .content {
	font-size: 1.1em;
	margin: 0 0 40px;
}

.wwd a {
	display: block;
	max-width: max-content;
	border: 2px solid #DDD;
	padding: 20px 30px;
}

.wwd img {
	display: flex;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

/* Our Vision section */

.vision-wrapper {
	height: 100vh;
	max-height: 800px;
	background: #000;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../images/space.png");
}

.vision {
	display: flex;
	height: 100%;
}

.vision > div {
	width: 35%;
	margin-top: auto;
	color: #FFF;
}

.vision .heading {
	font-weight: 900;
	font-size: 2.5em;
	margin: 0 0 40px;
}

.vision .subheading {
	color: var(--color-primary);
	font-size: 1.2em;
	margin: 0 0 40px;
}

.vision .content {
	font-size: 1.1em;
	margin: 0;
}

/* More Information section */

.info-wrapper {
	background: #fff;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../images/hydrangea.jpg");
}

.info {
	display: grid;
	grid-template-columns: 0.8fr 1fr;
	grid-template-rows: auto auto auto;
}

.info > div {
	background: #fff;
	padding: 80px;
}

.info > div > div {
	max-width: 400px;
	margin: auto;
}

.info .top-left {
	grid-row-start: 1;
	grid-row-end: 3;
}

.info .bottom-right {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 4;
}

.info .heading {
	margin: 0 0 40px;
}

.info .subheading {
	color: var(--color-primary);
	margin: 0 0 40px;
}

.info .content {
	font-size: 1.1em;
	margin: 0;
}

/* Events section */

.events .heading {
	font-weight: 900;
	font-size: 2.5em;
	text-align: center;
	margin: 0 0 40px;
}

.events .grid {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.events img {
	width: 100%;
	height: max-content;
}

.events .image-wrapper:hover {
	position: relative;
}

.events .image-wrapper:hover::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #000;
}

.events .image-wrapper:hover::after {
	content: "View Details";
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
	color: #FFF;
	text-align: center;
}

.events .image-wrapper:nth-child(1) {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 3;
}

.events .image-wrapper:nth-child(2) {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
}

.events .image-wrapper:nth-child(3) {
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 2;
}

.events .image-wrapper:nth-child(4) {
	grid-column-start: 5;
	grid-column-end: 8;
	grid-row-start: 1;
	grid-row-end: 4;
}

.events .image-wrapper:nth-child(5) {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 5;
}

.events .image-wrapper:nth-child(6) {
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 4;
}

/* Community section */

.community-wrapper {
	padding-left: 0;
	padding-right: 0;
	overflow-y: hidden;
}

.community {
	display: grid;
	grid-template-columns: 0.6fr 1fr;
	grid-template-rows: 0px;
}

.community .left {
	grid-column-start: 1;
	grid-column-end: 2;
	position: relative;
	transform: translateY(100%);
	padding-top: 30px;
	margin-top: -100%;
}

.community .heading {
	font-weight: 900;
	font-size: 2.5em;
	text-align: right;
	margin: 0 0 40px 30px;
}

.community img {
	display: block;
	width: 100%;
}

.community hr {
	grid-column-start: 1;
	grid-column-end: 3;
}

.community .article {
	grid-column-start: 2;
	grid-column-end: 3;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-column-gap: 30px;
	max-width: 550px;
	padding: 30px;
	margin: auto;
}

.community .article .date {
	font-family: "dazzle-unicase", sans-serif;
	font-size: 1.2em;
	color: #CCC;
}

.community .article h3 {
	font-size: 1.2em;
	margin: 0 0 20px;
}

.community .article p {
	margin: 0;
}

/* More section */

.more .heading {
	font-weight: 900;
	font-size: 2.5em;
	text-align: center;
	margin: 0 0 40px;
}

.more .subheading {
	font-size: 1.2em;
	text-align: center;
	margin: 0 0 20px;
}

.more .flex {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -80px -80px 0;
}

.more .card {
	flex: 1;
	max-width: 400px;
	min-width: 200px;
	margin: 0 80px 80px 0;
}

.more img {
	width: 100%;
	border: 1px solid #DDD;
}

.more a {
	position: relative;
	display: block;
	width: max-content;
	background: #000;
	color: #FFF;
	padding: 20px 30px;
	margin: auto;
	transform: translateY(-50%);
	text-decoration: none;
}

